<header class="fixed px-6 lg:px-8" style="width: 100%; background: rgba(255, 255, 255, 0.01); backdrop-filter: blur(24px); font-family: 'Lexend'; font-style: normal;">
  <nav class="mx-auto px-26 lg:px-28" aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-indigo-400 py-6 lg:border-none">
      <div class="flex items-center">
        <a href="/">
          <img src="{{ asset 'images/logo.svg'}}" class="h-10 w-auto" alt="">
        </a>
        <div class="pl-32 hidden space-x-8 lg:block">
          <a href="#" class="text-base text-white hover:text-indigo-50" style="opacity: 70%">Features</a>

          <a href="#" class="text-base text-white hover:text-indigo-50" style="opacity: 70%">Pricing</a>
        </div>
      </div>
      <div class="ml-10 space-x-4">
        <a href="https://ruby.ci/" class="inline-block rounded-2xl border py-2 px-8 text-base text-gray-400 hover:text-white" style="border-color: #525252; background: linear-gradient(180deg, rgba(217, 217, 217, 80) 100%) 0%, rgba(217, 217, 217, 0) 100%);">Sign in</a>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
      <a href="#" class="text-base text-white hover:text-indigo-50" style="opacity: 70%">Features</a>

      <a href="#" class="text-base text-white hover:text-indigo-50" style="opacity: 70%">Pricing</a>
    </div>
  </nav>
</header>
